@model siparis.Models.IndexDataViewModel
@using siparis.Models
@{

    ViewBag.Title = @siparis.Resorces.Language.Getproductcategory;



}
<script src="~/Scripts/jquery.toastmessage.js"></script>
<script src="~/Scripts/ajaxGonderi/ajaxGonder.js"></script>
<script>
    $(document).ready(function () {
        $(".pager").click(function (evt) {
            var pageindex = $(evt.target).data("pageindex");
            $("#CurrentPageIndex").val(pageindex);
            // evt.preventDefault();
            $("form").submit(); //fix me
        });
    });
</script>


<section id="advertisement">
    @{Html.RenderPartial("SliderPartial");}
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>@siparis.Resorces.Language.Category</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        @{Html.RenderPartial("../Home/LeftMenuPartial");}
                    </div><!--/category-products-->                  
                </div>
            </div>
             
             @{Html.RenderPartial("CategoryProductPartial");}


        </div>
    </div>

</section>

