@using siparis.Models

<link href="~/Content/css/MegaDrop.css" rel="stylesheet" />
<!-- Preview Styles -->
<div>
    <!--header-bottom-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="menu-wrapper">
                    <ul class="navi">
                        <li>
                            <a href="#">@siparis.Resorces.Language.Products</a>
                            <div>
                                <div class="navi-column">
                                    <h3>Home</h3>
                                    <ul>
                                        <li><a href="#">Pampers Diapers</a></li>
                                        <li><a href="#">Huggies Diapers</a></li>
                                        <li><a href="#">Seventh Generation</a></li>
                                        <li><a href="#">Diapers</a></li>
                                        <li><a href="#">Derbies</a></li>
                                        <li><a href="#">Driving shoes</a></li>
                                        <li><a href="#">Espadrilles</a></li>
                                        <li><a href="#">Loafers</a></li>
                                    </ul>
                                </div>

                                <div class="navi-column">
                                    <h3>Home</h3>
                                    <ul>
                                        <li><a href="#">Driving shoes</a></li>
                                        <li><a href="#">Espadrilles</a></li>
                                        <li><a href="#">Loafers</a></li>
                                    </ul>

                                    <h3>Home</h3>
                                    <ul>
                                        <li><a href="#">Driving shoes</a></li>
                                        <li><a href="#">Espadrilles</a></li>
                                        <li><a href="#">Loafers</a></li>
                                    </ul>
                                </div>

                                <div class="navi-column">
                                    <h3>Home</h3>
                                    <ul>
                                        <li><a href="#">Pampers Diapers</a></li>
                                        <li><a href="#">Huggies Diapers</a></li>
                                        <li><a href="#">Seventh Generation</a></li>
                                        <li><a href="#">Diapers</a></li>
                                        <li><a href="#">Derbies</a></li>
                                        <li><a href="#">Driving shoes</a></li>
                                        <li><a href="#">Espadrilles</a></li>
                                        <li><a href="#">Loafers</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li><a href="#">@siparis.Resorces.Language.Contact</a></li>
                        <li class="navi-search">
                            <form action="#">
                                <input type="text" placeholder=@siparis.Resorces.Language.Search class="searchText">
                                <input type="submit" value="">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
