@using siparis.Models
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">@siparis.Resorces.Language.Error</h1>
<h2 class="text-danger">@siparis.Resorces.Language.ErrorRequest</h2>

<body>
    <div class="container text-center">
        <div class="logo-404">
            <a href="index.html"><img src="../Contentimages/home/logo.png" alt="" /></a>
        </div>
        <div class="content-404">
            <img src="../Content/images/404/404.png" class="img-responsive" alt="" />
            <h1>< @siparis.Resorces.Language.Thispagecouldnotbefound</h1>
            <p>@siparis.Resorces.Language.SomethingwentwrongintheopinionWehavenotreachedthispage</p>
            <h2><a href="index.html"></a></h2>
        </div>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/price-range.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>