@{
    siparis.Models.VdbSoftEntities db = new siparis.Models.VdbSoftEntities(siparis.Controllers.BaseController.dbName);
    var model = from d in db.STOKCARDPICTUREs
                where d.STOK_ID == 0
                select d;
}

@*<link href="~/Content/css/js-image-slider.css" rel="stylesheet" />
    <script src="~/Scripts/js-image-slider.js"></script>
    <section id="advertisement">
        <div class="col-md-12">
            <div id="sliderFrame">
                <div id="slider">
                    @{
                        foreach (string item in model)
                        {

                            <img src="@item" alt="" />
                        }
                    }

                </div>
            </div>
        </div>
    </section>*@

<style>
    .dxisControl .dxis-itemTextArea {
        top: 17px !important;
        left: 17px !important;
        bottom: auto !important;
        width: 285px !important;
        padding: 15px 16px 21px !important;
        color: #fff !important;
        border-radius: 5px !important;
        box-shadow: 0px 4px 0px rgba(50, 50, 50, 0.3) !important;
        background-color: #333333 !important;
        background-color: rgba(0, 0, 0, 0.75) !important;
    }

        .dxisControl .dxis-itemTextArea a {
            color: white;
        }

            .dxisControl .dxis-itemTextArea a:hover, a:focus {
                text-decoration: underline;
            }

        .dxisControl .dxis-itemTextArea p {
            color: #b0b0b0;
        }

        .dxisControl .dxis-itemTextArea > p {
            margin-bottom: 0 !important;
        }

    .dxisControl .dxis-nbDotsBottom {
        padding: 0 !important;
        margin-top: -25px !important;
    }

        .dxisControl .dxis-nbDotsBottom .dxis-nbSlidePanel {
            left: 540px !important;
        }

    .isdemoH3 {
        font-size: 28px !important;
        color: white;
        padding-bottom: 9px;
    }

    .vertOptionsPanel label {
        width: 200px;
    }
</style>

@*@section AdditionalResources {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/ImageSlider/SlideShow.css")" />
}*@

@{ ImageSliderSlideShowDemoOptions options = (ImageSliderSlideShowDemoOptions)ViewData["Options"]; }

@using (Html.BeginForm())
    {

@Html.DevExpress().ImageSlider(
            settings =>
            {
                settings.Name = "imageSlider";
                settings.EnableTheming = false;
                //settings.Width = Unit.Pixel(800);
                //settings.Height = Unit.Pixel(313);
                settings.Width = 1170;
                settings.Height = 300;

                settings.NavigateUrlFormatString = "javascript:void({0});";
                settings.SettingsImageArea.ImageSizeMode = ImageSizeMode.FillAndCrop;
                settings.SettingsImageArea.NavigationButtonVisibility = ElementVisibilityMode.None;
                settings.SettingsImageArea.ItemTextVisibility = ElementVisibilityMode.Always;
                settings.SettingsImageArea.EnableLoopNavigation = true;
                settings.SettingsNavigationBar.Mode = NavigationBarMode.Dots;

                settings.SettingsSlideShow.AutoPlay = options.AutoPlay;
                settings.SettingsSlideShow.Interval = options.Interval;
                settings.SettingsSlideShow.PausePlayingWhenMouseOver = options.PausePlayingWhenMouseOver;
                settings.SettingsSlideShow.PlayPauseButtonVisibility = options.PlayPauseButtonVisibility;
                settings.SettingsSlideShow.StopPlayingWhenPaging = options.StopPlayingWhenPaging;

                var n = 1;
                        foreach (siparis.Models.STOKCARDPICTURE img in model)
                        {
                            settings.Items.Add(
                    item =>
                    {
                        item.ImageUrl = Url.Content(img.PATH);
                        item.NavigateUrl = n.ToString();
                        item.SetTextTemplateContent(
                            "<h3 class='isdemoH3'>"+@img.TITLE+"</h3>" +
                            "<p>"+img.DESCRIPTION+ "</p>"
                            //"<p>"+img.DESCRIPTION+ "<a tabindex=\"-1\" href='"+img.HREF+"'> Details »</a></p>"
                        );
                        n++;
                    }
                );
                            
                        }
                    
                //settings.Items.Add(
                //    item =>
                //    {
                //        item.ImageUrl = Url.Content("~/Content/Images/widescreen/woman-using-laptop.jpg");
                //        item.NavigateUrl = "1";
                //        item.SetTextTemplateContent(
                //            "<h3 class='isdemoH3'>Smile</h3>" +
                //            "<p>It takes 17 muscles to smile and 43 to frown. <a tabindex=\"-1\" href='javascript:void(1);'>Details »</a></p>"
                //        );
                //    }
                //);
                //settings.Items.Add(
                //    item =>
                //    {
                //        item.ImageUrl = Url.Content("~/Content/Images/widescreen/swimmer-underwater.jpg");
                //        item.NavigateUrl = "2";
                //        item.SetTextTemplateContent(
                //            "<h3 class='isdemoH3'>Dolphins</h3>" +
                //            "<p>Dolphins sleep with one eye open. <a tabindex=\"-1\" href='javascript:void(2);'>Details »</a></p>"
                //        );
                //    }
                //);
                //settings.Items.Add(
                //    item =>
                //    {
                //        item.ImageUrl = Url.Content("~/Content/Images/widescreen/typing-male-hands.jpg");
                //        item.NavigateUrl = "3";
                //        item.SetTextTemplateContent(
                //            "<h3 class='isdemoH3'>Paper</h3>" +
                //            "<p>No piece of paper can be folded in half more than eight times. <a tabindex=\"-1\" href='javascript:void(3);'>Details »</a></p>"
                //        );
                //    }
                //);
                //settings.Items.Add(
                //    item =>
                //    {
                //        item.ImageUrl = Url.Content("~/Content/Images/widescreen/man-climbing-on-limestone-wall.jpg");
                //        item.NavigateUrl = "4";
                //        item.SetTextTemplateContent(
                //            "<h3 class='isdemoH3'>Walking</h3>" +
                //            "<p>In the average lifetime a person will walk the equivalent of five times around the equator. <a tabindex=\"-1\" href='javascript:void(4);'>Details »</a></p>"
                //        );
                //    }
                //);
                //settings.Items.Add(
                //    item =>
                //    {
                //        item.ImageUrl = Url.Content("~/Content/Images/widescreen/woman-using-notebook.jpg");
                //        item.NavigateUrl = "5";
                //        item.SetTextTemplateContent(
                //            "<h3 class='isdemoH3'>Calories</h3>" +
                //            "<p>You burn more calories sleeping than you do watching TV. <a tabindex=\"-1\" href='javascript:void(5);'>Details »</a></p>"
                //        );
                //    }
                //);
            }
        ).GetHtml()

}
