<link href="~/Content/css/js-image-slider.css" rel="stylesheet" />
<script src="~/Scripts/js-image-slider.js"></script>
<section id="advertisement">
    <div class="col-md-12">
        <div id="sliderFrame">
            <div id="slider">
                <img src="~/Content/images/slider/slider-1.jpg" alt="" />
                <img src="~/Content/images/slider/slider-2.jpg" alt="" />
                <img src="~/Content/images/slider/slider-3.jpg" alt="" />
            </div>
        </div>
    </div>
</section>