@model siparis.Models.IndexDataViewModel
@using siparis.Models
@{
    ViewBag.Title = siparis.Resorces.Language_en_EN.Index;
    
}
<link href="~/Content/css/main.css" rel="stylesheet" />
<script src="~/Scripts/jquery.toastmessage.js"></script>
<script src="~/Scripts/ajaxGonderi/ajaxGonder.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".pager").click(function (evt) {
            var pageindex = $(evt.target).data("pageindex");
            $("#CurrentPageIndex").val(pageindex);
            // evt.preventDefault();
            $("form").submit();
        });
    });
</script>

@{Html.RenderPartial("SliderPartial");}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                @{int i = 0;
                foreach (var stok in Model.stokcardView)
                {
                    if (i == 0)
                    {
                        @Html.Raw("<div class='row'>");
                    }
                    i++;
                    Html.RenderPartial("UrunGetirPartial", stok);
                    if (i == 4)
                    {
                        @Html.Raw("</div>");
                                       i = 0;
                    }

                }
                }
            </div>        

        </div>
    </div>

</section>
