@model siparis.Models.IndexDataViewModel
@using siparis.Models
@{
    ViewBag.Title = siparis.Resorces.Language_en_EN.Index;
    siparis.Models.SortingPagingInfo info = ViewBag.SortingPagingInfo;

}
<script src="~/Scripts/jquery.toastmessage.js"></script>
<script src="~/Scripts/ajaxGonderi/ajaxGonder.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".pager").click(function (evt) {
            var pageindex = $(evt.target).data("pageindex");
            $("#CurrentPageIndex").val(pageindex);
            // evt.preventDefault();
            $("form").submit();
        });
    });
</script>

@{Html.RenderPartial("SliderPartial");}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>@siparis.Resorces.Language.Filter</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        @{Html.RenderPartial("LeftMenuPartial");}

                    </div><!--/category-products-->

                </div>
            </div>

            @{int i = 0;
            foreach (var stok in Model.stokcardView.Skip(info.PageSize * info.CurrentPageIndex).Take(info.PageSize))
            {
                if (i == 0)
                {
                    @Html.Raw("<div class='row'>");
                }
                i++;
                Html.RenderPartial("UrunGetirPartial", stok);
                if (i == 3)
                {
                    @Html.Raw("</div>");
                                       i = 0;
                }

            }
            }

            @*@{Html.RenderPartial("ContentPartial");}*@

        </div>
    </div>

</section>
