@{

    foreach (var stok in Model.Item2)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="/Product/ProductDetail">
                        <span class="badge pull-right">(@stok.Count())</span>
                        @stok.NAME_TR
                    </a>
                </h4>
            </div>        
        </div>   

    }
}

<div class="brands_products">
    <!--brands_products-->
    <h2 style="margin-top:20px;">Brands</h2>
    @{
        foreach (var stok in Model.Item2)
        {
            <div class="brands-name"style="padding-bottom:0px; padding-top:0px;">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#"> <span class="pull-right">(50)</span>@stok.NAME_TR</a></li>

                </ul>
            </div>
        }}
</div><!--/brands_products-->




