@model Tuple<List<siparis.Models.StokWareHouseViewModel>, siparis.Models.OPPORTUNITYDETAIL>
<style type="text/css">  

    .detailPanel {
        height: 148px;
        padding: 12px;
        box-sizing: border-box;
    }

        .detailPanel.bar {
            height: auto !important;
        }

            .detailPanel.bar.expanded {
                border-top-width: 0 !important;
            }

    .editorContainer {
        width: 80%;
        margin-right: 1%;
        margin-bottom: 8px;
        /*float: left;*/
        min-width: 30px;
    }

    .editor {
        width: 100% !important;
    }

    .editorCaption {
        width: 104px;
    }
</style>
<div class="row">
    <div class="col-md-4">
        @Html.DevExpress().TextBoxFor(model => model.Item2.STOK_CODE, textBoxSettings =>
            {
                textBoxSettings.Properties.Caption = "STOK CODE";
                PrepareTextBoxSettings(textBoxSettings);
            }).GetHtml()

        @Html.DevExpress().TextBoxFor(model => model.Item2.PRODUCT_NAME, textBoxSettings =>
            {
                textBoxSettings.Properties.Caption = "PRODUCT NAME";
                PrepareTextBoxSettings(textBoxSettings);
            }).GetHtml()

        @Html.DevExpress().TextBoxFor(model => model.Item2.QUANTITY, textBoxSettings =>
            {
                textBoxSettings.Properties.Caption = "QUANTITY";
                PrepareTextBoxSettings(textBoxSettings);
            }).GetHtml()


        @functions{
            Action<TextBoxSettings> PrepareTextBoxSettings = (TextBoxSettings settings) =>
            {
                settings.ControlStyle.CssClass = "editor";
                settings.Properties.RootStyle.CssClass = "editorContainer";
                settings.Properties.CaptionCellStyle.CssClass = "editorCaption";
                settings.ReadOnly = true;

            };
        }

    </div>

    <div class="col-md-8">
        <h5><B>DISTRIBUTE</B></h5>
@using (Html.BeginForm()){
        @Html.Partial("_wareHousePartial", Model.Item1)
}
    </div>
</div>
