@model IEnumerable<siparis.Models.OrderMasterViewModel>
    @using siparis.Models
@{
    ViewBag.Title = @Res.resGetir(74);
    Layout = "~/Views/Shared/_mainLayout.cshtml";
 

}

<h2>@Res.resGetir(74)</h2>

@Html.Partial("MasterDetailMasterPartial", Model)
