
﻿@using siparis.Models
@{
    ViewBag.Title = @Res.resGetir(74);
   Layout = "~/Views/Shared/_oMainLayout.cshtml";

﻿
    
    

}

<h2>@Res.resGetir(74)</h2>

@Html.Action("GridViewPartialApproved")
