@model IEnumerable<siparis.Models.OrderMasterViewModel>
    @using siparis.Models;
@{
    ViewBag.Title = @siparis.Resorces.Language.Cancelled;
    Layout = "~/Views/Shared/_mainLayout.cshtml";


}

<h2>@siparis.Resorces.Language.Cancelled</h2>

@Html.Partial("MasterDetailMasterPartial", Model)



