@model IEnumerable<siparis.Models.OrderMasterViewModel>
﻿@using siparis.Models
@{
    ViewBag.Title = @Res.resGetir(79);
    Layout = "~/Views/Shared/_oMainLayout.cshtml";
}
<h2>@Res.resGetir(79)</h2>
@Html.Partial("MasterDetailMasterPartial", Model)
