@model IEnumerable<siparis.Models.OrderMasterViewModel>
﻿@using siparis.Models
@{
    ViewBag.Title = @siparis.Resorces.Language.Draft;
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
<h2>@siparis.Resorces.Language.Draft</h2>
@Html.Partial("MasterDetailMasterPartial", Model)
