@using siparis.Models
@{

    ViewBag.Title = @Res.resGetir(82);
    Layout = "~/Views/Shared/_oMainLayout.cshtml";
}

<h2>@Res.resGetir(82)</h2>


    
}

<h2>Offer</h2>
>>>>>>> d94ed75edefa7eb136c43bde8ec567e9d559daf3
@Html.Action("GridViewPartialOffer")
