﻿@model System.Collections.IEnumerable
@using siparis.Models
@{

    ViewBag.Title = @Res.resGetir(82);
    Layout = "~/Views/Shared/_oMainLayout.cshtml";
}

<h2>@Res.resGetir(82)</h2>
@Html.Partial("MasterDetailMasterPartial", Model)
