@model IEnumerable<siparis.Models.ShippingViewModel>
﻿@using siparis.Models
@{
    ViewBag.Title = @siparis.Resorces.Language.ShippingConfirm;
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
<h2>@siparis.Resorces.Language.ShippingConfirm</h2>
@Html.Partial("_ShippingConfirmMasterPartial", Model)


