@model IEnumerable<siparis.Models.ShippingViewModel>
﻿@using siparis.Models
@{
    ViewBag.Title = @Res.resGetir(100);
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
<h2>@Res.resGetir(100)</h2>
@Html.Partial("_ShippingPartial", Model)
